html {
  text-align: center;
  background-color: #212129;
  font-size: calc(10px + 0.2vw);
  color: white;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: rgba(58, 58, 71, 0.678);
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 0.2vw);
  color: white;
}

.app-nav {
  text-align: left;
  background-color: rgba(58, 58, 71, 0.678);
  align-items: left;
  justify-content: left;
  color: white;
  position: relative;
  width: 100vw;
  margin-bottom: 20px;
  font-size: 18px;
}

.app-nav .app-nav-item {
  display: inline-block;
  padding: 8px;
  border-left: 2px solid rgba(0,0,0,0.3);
  border-right: 2px solid rgba(0,0,0,0.3);
  margin-left: -2px
}

.app-nav a:visited, .app-nav a:active, .app-nav a {
  color: rgb(196, 196, 196);
  text-decoration: none;
  background: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(200,200,200,0.2));
}
.app-nav a:hover {
  color: white;
  text-decoration: none;
  background: linear-gradient(0deg, rgba(40,40,40,0.2), rgba(240,240,240,0.2));
}

.App-link {
  color: #09d3ac;
}

.rt-td {
  white-space: normal !important;
}
.rt-thead.-filters {

}
.rt-thead.-header {

}
.ReactTable {
  font-size: calc(10px + 0.2vw);
  color: white;
  background-color: rgba(58, 58, 71, 0.397);

}
.ReactTable .-pagination .-btn {
  background: rgb(207, 206, 212);
}
.ReactTable .rt-table .rt-tbody{
  overflow-x: hidden;
}

.ReactTable .rt-table .rt-tbody .rt-tr-group .rt-tr.-odd {
  background: rgba(243, 241, 255, 0.048);
}

.ReactTable .rt-thead .rt-th.-sort-asc {
  box-shadow: inset 0 3px 0 0 rgb(207, 206, 212, 0.4);;
}
.ReactTable .rt-thead .rt-th.-sort-desc {
  box-shadow: inset 0 -3px 0 0 rgb(207, 206, 212, 0.4);
}

.app-container {
  width: 90vw;
  position: relative;
  left: 5vw;
}